
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernard Murphy</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/home.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/46d9ee64ac.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="div-top">
        <a class="a-top" id="a-projects" href="#h3-latest-projects">Projects</a>
        <a class="a-top" id="a-github" href="https://github.com/Bernard-Murphy">Github</a>
        <a class="a-top" id="a-contact" href="#h3-contact">Contact</a>
    </div>

    <div id="div-bio-container-home">
        <img id="img-mugshot" src="/assets/profilecircle.png"/>
        <div id="div-bio-home">
            <h1 id="h1-name">Bernard Murphy - Software Engineer</h1>
            <video src='/assets/video.mp4' id="demo-video" controls></video>
        </div>
    </div>
    <hr>
    <div id="div-tech-list">
        <p class="p-tech-item">Node</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">React</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">MySQL</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">Express</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">Redux</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">Handlebars</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">PHP</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">AWS</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">NGINX</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">Ubuntu</p>
        <p class="p-tech-item-b">•</p>
        <p class="p-tech-item">Cloudflare</p>
    </div>

    <div id="div-contact-form">
        <h3 id="h3-contact">Contact Me</h3>
        <p id="p-email" class="p-contact">murphy.bernard@student.ccm.edu</p>
        <p class="p-contact">201-249-6199</p>
        <div class="div-contact-fields">
            <label class="labels-contact">Name:</label>
            <input class="inputs-contact" id="input-name"/>
        </div>
        <div class="div-contact-fields">
            <label class="labels-contact">Email:</label>
            <input class="inputs-contact" id="input-email"/>
        </div>
        <div class="div-contact-fields">
            <label class="labels-contact">Message:</label>
            <textarea class="inputs-contact" id="input-message"></textarea>
        </div>
        <button onClick="contactSubmit()" id="button-submit">Submit</button>
        <h4 id="h4-error" class="hide"></h4>
        <h4 id="h4-message" class="hide"></h4>
    </div>

    <div id="div-projects">
        <h3 id="h3-latest-projects">My Projects</h3>
        <div class="div-project-containers">
            <div class="div-project-left">
                <img class="img-project-icons" src="/assets/ms-icon-310x310.png"/>
                <div class="div-project-links">
                    <h4 class="h4-project-names">NanaImg</h4>
                    <div class="div-links">
                        <a class="a-project-links" href="https://nanaimg.net">Live link</a>
                        <a class="a-github-links" href="https://github.com/Bernard-Murphy/NanaImg_Main">Github repo</a>
                    </div>
                </div>
            </div>
            <hr class="hr-projects">
            <div class="div-project-descriptions">
                <p class="p-project-descriptions">NanaImg is a simple and intuitive image host that provides ease of use for people who want to be in and out quickly, but also provides numerous features for people who want to stick around, browse, and interact with the images and users of the site. This is my latest and by far my biggest project.</p>
            </div>
        </div>
        <div class="div-project-containers">
            <div class="div-project-left">
                <img class="img-project-icons" src="/assets/pokeballtrans2.png"/>
                <div class="div-project-links">
                    <h4 class="h4-project-names">Pokedex</h4>
                    <div class="div-links">
                        <a class="a-project-links" href="https://bernardmurphy.net/pokedex/">Live link</a>
                        <a class="a-github-links" href="https://github.com/Bernard-Murphy/Pokedex">Github repo</a>
                    </div>
                </div>
            </div>
            <hr class="hr-projects">
            <div class="div-project-descriptions">
                <p class="p-project-descriptions">React and Redux app built for fans of the Pokemon game franchise. It is a nifty tool that fetches relevant game data for any Pokemon that the user desires. The buttons contain links to the Pokemon encyclopedia if the user would like to know more about a Pokemon or one of its attributes.</p>
            </div>
        </div>
        <div class="div-project-containers">
            <div class="div-project-left">
                <img class="img-project-icons" src="/assets/spectorestoicon.png"/>
                <div class="div-project-links">
                    <h4 class="h4-project-names">Specoresto</h4>
                    <div class="div-links">
                        <a class="a-project-links" href="https://bernardmurphy.net/specoresto">Live link</a>
                        <a class="a-github-links" href="https://github.com/Bernard-Murphy/Specoresto">Github repo</a>
                    </div>
                </div>
            </div>
            <hr class="hr-projects">
            <div class="div-project-descriptions">
                <p class="p-project-descriptions">Specoresto is a React app that takes a user's location and quickly finds a number of restaurants that cater to people with certain food allergies - specifically gluten free and vegan diets. The app returns a list of restaurants along with their rating, review page, relative price, address, and more.</p>
            </div>
        </div>
        <div class="div-project-containers">
            <div class="div-project-left">
                <img class="img-project-icons" src="/assets/3dguntrans.png"/>
                <div class="div-project-links">
                    <h4 class="h4-project-names">3dGunFiles</h4>
                    <div class="div-links">
                        <a class="a-project-links" href="https://guns.bernardmurphy.net">Live link</a>
                        <a class="a-github-links" href="https://github.com/Bernard-Murphy/GunFiles">Github repo</a>
                    </div>
                </div>
            </div>
            <hr class="hr-projects">
            <div class="div-project-descriptions">
                <p class="p-project-descriptions">3dGunFiles is a website that I made a while ago for firearms enthusiasts. I eventually decided not to release it for ethical concerns, however the site is available minus some of the links at guns.bernardmurphy.net. The password is BernardAustinZimbabwe.</p>
            </div>
        </div>
    </div>
</body>
</html>


